<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top">
        <h1>Cashless payment - Administration</h1>
    </header>

    <main id="login">
        @RenderBody()
    </main>

    @RenderSection("scripts", required: false)
    <script>
        var length = ($("#login").height()- $(".verticalCenter").height())/2
        $(".verticalCenter").css({
            "padding-top": length
        });
    </script>
</body>
</html>
