@model IEnumerable<nmct.ba.cashlessproject.webservice.presentationModel.PMLogboek>
@{
    ViewBag.Title = "Index";
}

<h2>Logboek</h2>

<table id="log" class="table">
    <thead>
        <tr>
            <th>
                <a href="" class="black">Wanneer</a>
            </th>
            <th>
                <a href="" class="black">Organisatie naam</a>
            </th>

            <th>
                <a href="" class="black">Kassa naam</a>
            </th>
            <th>
                <a href="" class="black">bericht</a>
            </th>
            <th>
                <a href="" class="black">Foutmelding</a>
            </th>
            <th>
                meer Info
            </th>
            <th>
                acties
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => (item.Error.Timestamp))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganisationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Error.Register.Registername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Error.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Error.Stacktrace)
                </td>
                <td>
                    <a onclick="geklikt(@item.Error.Register.Id)">Klik hier voor meer info</a>
                </td>
                <td>
                    @*<a href="~/logboek/delete/@item.Error.Register.Id/@item.Error.Timestamp" class="trashbin" onclick="return confirm('Ben je zeker dat je deze log wilt verwijderen?');"></a>*@
                    <a href="#" class="trashbin" onclick="verwijder(@item.Error.Register.Id,@item.Error.Timestamp)"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="background" id="backgroundWeg"></div>
@foreach (var item in Model)
{
    <div class="hiddenBox" id="@item.Error.Register.Id">
        <h3>Organisatie</h3>
        <label class="col-md-4">Organisatie naam</label><p class="col-md-8">@item.OrganisationName</p>
        <label class="col-md-4">Adres</label><p class="col-md-8">@item.Address</p>
        <label class="col-md-4">Email</label><p class="col-md-8">@item.Email</p>
        <label class="col-md-4">Telefoon</label><p class="col-md-8">@item.Phone</p>
        <label class="col-md-4">Database Naam organisatie</label><p class="col-md-8">@item.DatabaseName</p>
        <h3>Kassa</h3>
        <label class="col-md-4">Kassa naam</label><p class="col-md-8">@item.Error.Register.Registername</p>
        <label class="col-md-4">Toestel</label><p class="col-md-8">@item.Error.Register.Device</p>
        <label class="col-md-4">Verval datum</label><p class="col-md-8">@item.ExpiresDate</p>
        <h3>Foutmelding</h3>
        <label class="col-md-4">Tijd</label><p class="col-md-8">@item.Error.Timestamp</p>
        <label class="col-md-4">Bericht</label><p class="col-md-8">@item.Error.Message</p>
        <label class="col-md-4">Stacktrace</label><p class="col-md-8">@item.Error.Stacktrace</p>
    </div>
}
@section Scripts {
<script>
    function geklikt(Time){
        $("#" + Time).attr("class", "toonBox");
        $("#" + Time).css({
            "top": ((window.innerHeight - $("#" + Time).height()) / 2) -27  ,
            "left": ($("#container").width() - $("#" + Time).width())/2
        });
        window.scrollTo(0,0);
        $(".background").attr("id" ,"backgroundToon");
        $("#backgroundToon").click(function(){
            $(".background").attr("id" ,"backgroundWeg");
            $("#" + Time).attr("class" ,"hiddenBox");
        })
    }
    $(function(){
        var arr =  $("td:first-child")
        for(var i =0;i<arr.length; i++){
            var time = timeConverter(arr[i].innerText);
            arr[i].innerText = time;
        }
        var arrstack = $("td:nth-child(5)")
        for(var i =0;i<arrstack.length; i++){ 
            arrstack[i].innerText = arrstack[i].innerText.substring(0,100) +"..."
        }
        var expire =  $("div> :nth-child(18)");
        for(var i =0;i<expire.length; i++){ 
            expire[i].innerText = dateConverter(expire[i].innerText)
        }

        var tijd =  $("div> :nth-child(21)");
        for(var i =0;i<tijd.length; i++){ 
            tijd[i].innerText = timeConverter(tijd[i].innerText)
        }
        $("#log").tablesorter({ headers: { 5: { sorter: false }, 6: { sorter: false } } });
        
    })
    function timeConverter(UNIX_timestamp){
        var a = new Date(UNIX_timestamp*1000);
        var year = a.getFullYear();
        var month = a.getMonth() +1;
        var date = a.getDate();
        var hour = a.getHours();
        var min = a.getMinutes();
        var sec = a.getSeconds();
        var time = date + '/' + month + '/' + year + ' ' + hour + ':' + min + ':' + sec ;
        return time;
    }
    function dateConverter(UNIX_timestamp){
        var a = new Date(UNIX_timestamp*1000);
        var year = a.getFullYear();
        var month = a.getMonth() +1;
        var date = a.getDate();
        var time = date + '/' + month + '/' + year ;
        return time;
    }

    function verwijder(item,item2) {
        var r = confirm('ben je zeker dat je deze log wilt verwijderen');
        if (r === true) {
            $.post("http://localhost:61592/logboek/delete/" + item +"/" + item2, function () {
                location.reload();
            });
        }
    }
</script>
}